/DerivedData
SpriteFight.dSYM/
SpriteFight/
*.dSYM 
SpriteFight

SpriteFight.xcodeproj/xcuserdata/Adam.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

SpriteFight.xcodeproj/project.xcworkspace/xcuserdata/Adam.xcuserdatad/UserInterfaceState.xcuserstate

SpriteFight.xcodeproj/project.pbxproj
