.DS_Store
*.xcuserstate
.idea/

SpriteFight.dSYM/
*.dSYM 
SpriteFight

Frameworks/SDL2_image.framework/
Frameworks/SDL2_ttf.framework/
Frameworks/SDL2.framework/


cmake-build-*
DerivedData/
CompilerOutput/
